.alert {
    position: absolute;
    z-index: 10;
    top: 7px;
    right: -35px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    &__icon {
        max-width: 15px;
        filter: invert(100%);
    }
    &__error {
        margin-top: 5px;
        color: red;
        font-size: 14px;
    }

    &-enter {
        opacity: 0;
    }
    &-enter-active {
        transition: all .2s ease-out;
        opacity: 1;
    }
    &-exit-active {
        transition: all .2s ease-out;
        opacity: 0;
    }
}