.alert {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: -25px;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    border-radius: 50%;
}

.alert-enter {
    opacity: 0;
}

.alert-enter-active {
    transition: all .2s ease-out;
    opacity: 1;
}

.alert-exit-active {
    transition: all .2s ease-out;
    opacity: 0;
}