@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.App {
    max-width: 800px;
    height: 100vh;
    margin: 50px auto;
}

.App__title {
    text-align: center;
    margin-bottom: 30px;
}

.notes__form {
    position: relative;
    margin-bottom: 20px;
}